<div class="sidebar-wrapper">
    <div class="logo">
        <a routerLink="/admin/home" class="simple-text">
            <div *ngIf="noCollapsed; else collapsed" class="logo-img">
                <img src="assets/img/bions_white_logo.png" />
            </div>
            <ng-template #collapsed>
                <div class="logo-img-responsive">
                    <img src="assets/img/bions_white_logo_small.png" />
                </div>
            </ng-template>
        </a>
    </div>
    <ul class="nav responsive-nav">
        <button (click)="home()">HOME------------</button>
        <li *ngIf="isMobileMenu()">
            <!-- <a [routerLink]="['/login']"> -->
            <a (click)="logout()" style="cursor: pointer;">
                <i class="fa pe-7s-power"></i>
                <p>Logout</p>
            </a>
        </li>
        <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
        <!-- <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}" -->
        <li routerLinkActive="active" >
            <a routerLink="/login">
            <!-- <a href="#"> -->
                <i class="pe-7s-user"></i>
                <!-- <p *ngIf="noCollapsed">{{menuItem.title | translate }}</p> -->
                <p *ngIf="noCollapsed">xxxxxxxxxxxxxxxxxxxxxxx</p>
            </a>
        </li>
    </ul>
</div>
