.sidebar-wrapper{

    .logo-img {
        width: 100%;
    }
    .interlines {
        p {
            line-height: 16px !important;
        }
    }
}
.logo {
    padding: unset;
    .simple-text {
        padding: 3.3vh 0;
        .logo-img-responsive {
            text-align: center;
            img{
                width: auto;
                max-width: 32px;
                margin: 0 auto;
            }
        }
        .logo-img {
            text-align: center;
        }
    }
}

