<div class="login-container">
    <div class="d-flex align-items-center flex-column justify-content-center">
      <div class="form-container form-containerPageError">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <!-- <app-input [readOnly]="false" [disabled]="false" [type]="'text'" [label]="'mail'" [formControlName]="'mail'" [value]="" [placeholder]="'{{FORM.MAIL.PLACEHOLDER | translate'"></app-input>
          <app-input [readOnly]="false" [disabled]="false" [type]="'text'" [label]="'password'" [value]="" [formControlName]="'password'" [placeholder]="'{{FORM.PASSWORD.PLACEHOLDER | translate'"></app-input> -->
          <input type="text" name="mail" formControlName="mail">
          <input type="text" formControlName="password" name="password">
            <button type="submit" >ENVIAR</button>
        </form>
        <button type="submit">TRAER USERS</button>
        <div class="btn-logout">
          <!-- <a (click)="logout()"> -->
            <i class="fa pe-7s-power pointer" title="Log out"></i>
          </a>
        </div>
        <!-- <img class="m-auto" src="assets/img/accionalogo.png" alt="logo acciona" width="200"> -->
        <p class="w-100 text-primary text-center">LOGIN</p>
        <!-- <p class="w-100 text-primary text-center">{{'LOGIN.ERORRO_LOGIN' | translate}}</p> -->
      </div>
    </div>
  </div>