@import './variables/bootstrap';

@mixin appearance {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

@mixin unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin formComponent {
    $size_img: 25px;
    $placeholder_opacity: 0.3;
    $font_size_input: 16px;
  
    :host {
      display: block;
    }
  
    .input-container {
      width: 100%;
      border-bottom: 1px solid rgba($black, 0.1);
      color: $black;
      &.focused {
        border-bottom: 1px solid $pink;
      }
  
    //   & .input-img {
    //     position: relative;
    //     margin-right: 15px;
    //     & > img {
    //       line-height: 0px;
    //       padding: 0px;
    //       margin: 0px;
    //     }
    //   }
  
      .input {
        text-align: left;
        width: 100%;
        position: relative;
        & .input-title {
          font-size: 12px;
          color: $black;
        }
        & .status-img {
          position: absolute;
          overflow: hidden;
          right: 0;
          height: 0;
          transition: height 0.5s ease-in-out;
          bottom: 10px;
          &.show {
            height: 25px;
          }
        }
        & input {
          border: none;
          background: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          margin: 0;
          font-size: $font_size_input;
          font-weight: normal;
          color: $black;
          width: 100%;
        //   padding-right: 20px;
        //   padding-bottom: 10px;
          &::-webkit-input-placeholder,
          &::placeholder {
            color: $black;
            opacity: $placeholder_opacity;
            font-size: $font_size_input;
          }
          &:-ms-input-placeholder {
            color: $black;
            opacity: $placeholder_opacity;
            font-size: $font_size_input;
          }
          &:disabled {
            opacity: 0.5;
          }
        }
      }
      &.title-primary {
        & .input {
          & .input-title {
            color: $primary;
          }
        }
      }
    }
    .disabled {
      border-bottom: 0;
    }
  }
  
@mixin appearance {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

@mixin unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@mixin formText {
  position: relative;
  font-size: 16px;
  color: $black;
  & .link {
    position: relative;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
    margin-left: 3px;
  }
}

@mixin fontDefaultStyle {
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}



@mixin result {
  .result {
    padding: 40px 0;
    text-align: center;
    & .icon-result {
      margin-bottom: 15px;
    }
    & .title-result {
      font-size: 44px;
      font-weight: 800;
      margin-top: 15px;
    }
    & .text-result {
      font-size: 16px;
      line-height: 1.25;
      font-weight: 300;
      text-align: center;
    }
  }
}
