// /* You can add global styles to this file, and also import other style files */
@import "variables/colors";
@import "variables/bootstrap";

// * {
//   padding: 0;
//   margin: 0;
// }

html,
body {
  height: 100%;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.color-primary {
  color: $primary;
}

.big-text {
  font-size: 1.3rem;
  font-weight: 400;
}
.little-text {
  font-size: 0.8rem;
}

.pointer {
  cursor: pointer;
}

.dataTables_wrapper {
  .dt-buttons {
    margin-bottom: 1rem !important;
  }
  .font-weight-600 {
    font-weight: 600;
  }
  .background-td-total {
    background-color: #fffcab;
  }
  .background-tr-total {
    & td {
      background-color: #ece6d3 !important;
    }
  }
}
