.layout {
    min-height: calc(100vh - 100px);
  }
  .custom-container {
    margin: auto 20px;
  }
  .no-decoration, .no-decoration:link {
    z-index: 10000;
    position: absolute;
    bottom: -0.1%;
    left: 101%;
    background: none;
    border: none;
    color: #ff0000;
    font-size: 35px;
    font-weight: 800;
    border: none;
    outline: none;
    opacity: 0.5;
  }
  
  .collapsed {
    width: 5% !important;
    ::ng-deep app-sidebar {
      @media  (min-width: 992px) {
      .sidebar-wrapper {
          width: 100% !important;
          li {
            a {
              height: 100%;
              margin: 5px 0;
              i {
                margin-right: unset;
                width: 100%;
              }
            }
    
          } 
        }
  
      }
    }
  
  }
  
  .width-expanded {
    width: 95% !important;
  }
  
  textarea {
    resize: both;
    width: 100%;
    border-color: ligh;
  }
  