$black: #000;
$white: #fff;
$pink: #f4137b;
$blue: #50e3c2;
$red: #ff0d07;
$gray-bg-default: #f4f4f4;
$gray-50: #eee;
$gray-100: #ddd;
$gray-200: #ccc;
$gray-300: #dcdcdc;
$gray-350: #d6d6d6;
$gray-500: #495057;
$gray-600: #636363;
$gray-700: #454545;
$gray-800: #303030;